language: objective-c
xcode_workspace: Example/GeoFeatures.xcworkspace
xcode_scheme: GeoFeatures-Example
osx_image: xcode6.4
script:
  - xctool -workspace Example/GeoFeatures.xcworkspace -scheme GeoFeatures-Example -sdk iphonesimulator8.4 GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES build test 
after_success:
  - bash <(curl -s https://codecov.io/bash)
